body{
	color:black;
	background-color:white;
	font-family:"微软雅黑";
	font-size:30pt;
}
#titlename{
	text-align:center;
	margin-left:10%;
	margin-right:5%;
}
#content{
	background-color:#yellow;
	margin-right:20%;
	padding-left:0.5%;
	padding-right:0.5%;
	width:75%;
	min-width:580px;
	float:right;
}